*{
    margin: 0px;
    padding: 0px;
}
form{
    background-color: aqua;
    
}
.login{
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 20px;

}
h2{
    text-align: center;
}
.height{
    margin: 6px;
    padding: 12px;
}
